<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>All SSB Characters</title>
	</head>
	<body>
		<h1>Super Smash Brothers Characters</h1>
		<% characters.forEach( (char) => { %>
			<h2>Character ID: <%= char.charId %></h2>
			<a href="/oneChar/<%= char.name %>"><%= char.name %></a>
		<% }); %>
	</body>
</html>